.panel {
    height: 100%;
    background-color: #f5f5f5;
    padding: 20px 15px;
}

.panel-header {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.panel-header__title {
    font-weight: 700;
    font-size: 22px;
    color: #464646;
}

.panel-header__button {
    width: 120px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
    color: #ffffff;
    background-color: #2a7ae4;
}

.panel-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-content: center;
    gap: 20px;
}

.panel-section-content {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    overflow: hidden;
    gap: 5px;
}

.panel-section-wrapper {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: flex-start;
    position: relative;
}

.panel-section-wrapper-image {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("https://images.unsplash.com/photo-1620138694717-07141b500f57?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1935&q=80");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.panel-section-wrapper-option {
    width: 100%;
    margin: 15px 20px;
    gap: 20px;
    display: flex;
    justify-content: flex-end;
    z-index: 1;
    color: #ffffff;
}


.panel-section-wrapper-option__button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 14px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: #2a7ae4;
    background-color: transparent;
}


.panel-section-wrapper-option__button-icon-edit {
    width: 18px;
    height: 18px;
    background-image: url("../assets/icons/edit.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.panel-section-wrapper-option__button-icon-delete {
    width: 14px;
    height: 18px;
    background-image: url("../assets/icons/delete.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.panel-section-content__title {
    font-weight: 500;
    font-size: 16px;
    color: #464646;
}

.panel-section-content__subtitle {
    font-weight: 700;
    font-size: 16px;
}

.panel-section-content__id {
    font-weight: 600;
    font-size: 14px;
    color: #2a7ae4;
}


@media (min-width:768px) and (max-width:1024px) {
    .panel {
        padding: 20px 40px;
    }

    .panel-header__button {
        font-size: 16px;
    }

    .panel-section {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width:1025px) {

    .panel {
        padding: 20px 100px;
    }

    .panel-header__title {
        font-size: 30px;
    }

    .panel-header__button {
        font-size: 16px;
    }

    .panel-section {
        grid-template-columns: repeat(6, 1fr);
    }
}